/************************** common css **************************/
body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 202px;
    padding-right: 202px;

}

/************************** navbar **************************/
.topnav {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    background-color: grey;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #6d1cf2;
    color: white;
}

.topnav .icon {
    display: none;
}

/************************** nav bar media query **************************/
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/************************** contact page ************************* */
.Contact_container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 202px;
    padding-right: 202px;

}

.MyContactGrid {

}

.contactBox {
    margin: 50px 10px;
    padding: 0 20px;
    width: 40%;
    float: left;
}

.contactFormBox {

    margin: 50px 10px;
    background-color: #e5e5e5;
    float: left;
    width: 60%;
}

.contactBox p {
    text-indent: 30px;
}

.Contact_Form {

    height: 20px;
    width: 300px;
    margin-bottom: 10px;
}

.Des_Form {

    height: 200px;
    width: 300px;
}

.submitbutton {
    display: block;
}

/************************** contact meida query **************************/
@media screen and (max-width: 1100px) {
    .Contact_Form {

        height: 20px;
        width: 200px;
        margin-bottom: 10px;
    }

    .Des_Form {

        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 900px) {
    .contactBox, .contactFormBox {

        width: 100%;
    }

    .Des_Form {
        height: 50px;
        width: 100px;
    }

    .Contact_Form {

        height: 20px;
        width: 100px;
        margin-bottom: 10px;
    }
}

/************************** index page **************************/
.gridBox {
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr;

}

.searchBox {
    align-self: center;
    margin: 5px;
    height: 300px;
    background: grey;
    display: grid;
    grid-template-columns: 1fr;
    float: left;
}

.searchBox h1, form {

    margin: auto;
}

#search {
    margin: 50px;
    height: 30px;
    width: 500px;
}

.JobBox {
    padding: 0 20px;
    height: 200px;
    background: grey;
    margin: 5px;
    float: left;
}

.JobBox button {
    float: right;
    margin-right: 10px;
}

/************************** signIn page **************************/
.signInBox {
    width: 500px;
    height: 350px;
    border: 15px solid #e5e5e5;
    margin: auto;
    padding: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.signInBox input {

    height: 20px;
    width: 300px;
    margin-bottom: 10px;
    margin-left: 100px;
}

.signInBox h2 {
    margin: 50px auto;
    text-align: center;
}

.signInBox button {

    margin-left: 220px;
    display: block;
}

